<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elevenfifty.reasonweb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.andrewtorr.reasonweb.ReasonWebApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:windowSoftInputMode="adjustPan"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.andrewtorr.reasonweb.DispatchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login/Profile -->

        <activity android:name="com.andrewtorr.reasonweb.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.andrewtorr.reasonweb.ProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.andrewtorr.reasonweb.ProfileEditActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- View Pages -->

        <activity android:name="com.andrewtorr.reasonweb.ViewPropActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.andrewtorr.reasonweb.ViewEvidActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.andrewtorr.reasonweb.ViewTermActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.andrewtorr.reasonweb.ViewSyllActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- List Pages -->

        <activity android:name="com.andrewtorr.reasonweb.ListEvidActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.andrewtorr.reasonweb.ListSyllActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.andrewtorr.reasonweb.ListConcActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- Submission Pages -->

        <activity android:name="com.andrewtorr.reasonweb.SubmitPropActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.andrewtorr.reasonweb.SubmitEvidActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.andrewtorr.reasonweb.SubmitSyllActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.andrewtorr.reasonweb.SubmitTermActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- Search Activity -->

        <activity android:name="com.andrewtorr.reasonweb.SearchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- Web View Activity -->

        <activity
            android:name="com.andrewtorr.reasonweb.WebviewActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

    </application>

</manifest>
